<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Login
        </title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
    <!--style="background-image: url('bg-image.png');">
        style="background-image: url('bg-image-3.jpg');"
    style="background-color: #006175;"
    style="background-color: #c8e3e2;"-->

    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log in</button>
                <button type="button" class="toggle-btn" onclick="signup()">Sign up</button>
            </div>

            <form id="login" class="input-group" method = POST action = "{{ url_for('login') }}">
                <input type="email" class="input-field" name = "email" placeholder="Enter your mail id:" required>
                <input type="password" class="input-field" name = "password" placeholder="Enter your password:" required>
                <button type="submit" class="submit-btn">Log in</button>
            </form>

            <form id="signup" class="input-group" method = POST action = "{{ url_for('signup') }}">
                <h1 id="wel">Welcome!</h1><br>
                <input type="email" class="input-field" name = "email" placeholder="Enter your mail id:" required>
                <input type="password" class="input-field" name = "password" placeholder="Enter your password:" required>
                <button type="submit" class="submit-btn">Sign up</button>
            </form>
        </div>
        
    </div>
    <script>
        var x = document.getElementById("login");
        var y = document.getElementById("signup");
        var z = document.getElementById("btn");

        function signup(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "125px";
        }

        function login(){
            x.style.left = "50px";
            y.style.left = "550px";
            z.style.left = "0px";
        }
    </script>
    </body>
</html>