<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">

<head>
    <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <div id = "body">
            <label class="title">
               <!-- <img src="bg-image-3.jpg" width : 1550px , height : 150px>-->
                <h1>Post your Music</h1>
            </label>
        </div>
        <div class="welcome-text">
            <div class="container">
                <input name="Choose file" type="file" class="upload-box"/>
                <button type="Convert" class="convert">Convert</button>
                <button type="Download" class="download">Download</button>
            </div>
            <button type="Log out" class="logout">Log out</button>
        </div>

       
    </header>

</body>

</html>
